@import 'src/styles/_vars.scss';

// Display navigation menu on mobile version
.navActive {
  top: 6em !important;
  z-index: 0;
  // transition: top 3s ease;
}

.navbar {
  z-index: 0;
  position: absolute;
  left: 0;
  top: -200%;
  display: block;
  width: 100%;
  background-color: $header-background-color;
  transition: top .7s ease;

  &-ul {

    &-link {
      text-align: center;
      padding: .5em 0;
      font-size: 1.5em;

      &:active {
        background-color: darken($header-background-color, 10%);
        transition: all .5s;
      }
    }

    &:last-child {
      padding-bottom: 1em;
    }
  }
}


@media (min-width: 992px) {

  .navbar {
    position: relative;

    &-ul {
      display: flex;
      justify-content: flex-end;
    }
  }

  .navbar-ul-link {
    display: inline-block;
    margin: 0 1em;
    font-family: $text-font-family;
    font-size: 1.2em;
    // border: 1px solid #d77a61;
    padding: .3em .5em;
    cursor: pointer;

    &::after {
      content:'';
      border-bottom: 2px solid #d33f49;
      display: block;
      position: relative;
      top: .2em;
      left: -100%;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
      left: 0;
      transition: All .2s;
    }
  }
}
