@import 'src/styles/_vars.scss';

.header-block {
  height: 6em;
}

.headerShadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35); 
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
}

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: $header-background-color;
  font-family: $title-font-family;
  padding: 2em;
  color: $header-text-color;

  &-title {
    font-size: 2em;
    width: 50%;
    z-index: 100;
  }

  &-btn {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    /*
      change class on click event
      <div className="header-btn-hamburger">
      <div className="header-btn-cross">
    */
    
    &-hamburger {
      // grow up hamburger click area
      padding: 7px 0;

      &-line {
        width: 25px;
        height: 3px;
        background-color: $header-text-color;
        transition: all .3s;
      }
  
      &::after {
        content: "";
        width: 25px;
        height: 3px;
        background-color: $header-text-color;
        display: block;
        position: relative;
        top: 6px;
        transition: all .3s;
      }

      &::before {
        content: "";
        width: 25px;
        height: 3px;
        background-color: $header-text-color;
        display: block;
        position: relative;
        top: -6px;
        transition: all .3s;
      }
    }

    &-cross {

      &-line {
        // grow up cross click area
        display: none;
      }
  
      &::after {
        content: "";
        width: 25px;
        height: 3px;
        background-color: $header-text-color;
        display: block;
        position: relative;
        top: -3px;
        transform: rotate(45deg);
        transform-origin: 50% 50% 0;
        transition: all .3s;
      }
  
      &::before {
        content: "";
        width: 25px;
        height: 3px;
        background-color: $header-text-color;
        display: block;
        position: relative;
        top: 0px;
        transform: rotate(-45deg);
        transform-origin: 50% 50% 0;
        transition: all .3s;
      }
    }

  }
}


@media (min-width: 992px) {

  .header {
    padding: 2.5em;
    flex-wrap: nowrap;
    justify-content: space-between;

    &-title {
      width: 40%;
    }
  }

  .header-btn {
    display: none;
  }

}
