@import 'src/styles/_vars.scss';


.notation-form {
  flex-grow: 2;
  width: 80%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: $text-font-family;
  font-size: 1.3em;
  h1 {
    font-size: 1.5em;
    font-family: $title-font-family;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid $button-background-color;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: $title-font-family;
    margin: 1em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid $button-background-color;
  }
}


.commentaire-title {
  margin-top: 1em;
}

.address-input {
  display: block;
  margin: 3em 0;

  & input {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: .5em .8em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
}

.autocomplete-dropdown {
  text-align: center;
  margin: 1em auto;
}

.main-form {
  display: flex;
  flex-direction: column;

  .quartier {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .5em;
      
      label {
        display: block;
        text-align: center;
      }
    }

  }

  .etatImmeuble {
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: .5em;
      align-items: center;
      margin-bottom: .5em;

      label {
        text-align: center;
      }
    }
  }

  .etatAppart {
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: .5em;
      align-items: center;
      margin-bottom: .5em;
    }

    label {
      text-align: center;
    }
  }

  .relations {
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: .5em;
      align-items: center;
      margin-bottom: .5em;
    }

    label {
      text-align: center;
    }
  }
}

.information-generales {
  div {
    margin: .5em 0;
  }

  input {
    font-family: $text-font-family;
    // text-align: center;
    border: none;
    // height: 2em;
    border-radius: 10px;
    padding: .5em .8em;
    // margin: 0 .5em;
  }

  label {
    margin-right: .5em;
  }

  &-radio {
    display: flex;
    align-content: center;
    justify-content: space-around;
    border-bottom: 1px solid #B3B3B3;
  }

  &-locataire {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #B3B3B3;
  }

  &-intermediaire {
    display: flex; 
    justify-content: space-around;
    border-bottom: 1px solid #B3B3B3;
  }

  &-surface {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #B3B3B3;

    div {
      display: flex;
      justify-content: space-between;

      input {
        width: 30%;
      }
    }
  }

  &-loyer {
    display: flex;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: .5em;
    justify-content: space-between;

    p {
      text-align: left;
    }

    input {
      width: 30%;
    }
  }
}

.commentaire {

  &-user-title {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: .5em .8em;
    margin-bottom: 1em;
    font-size: 1em;
  }

  &-positifs-area {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-family: $text-font-family;
    font-size: 1em;
  }

  &-negatifs-area {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em;
    font-family: $text-font-family;
    font-size: 1em;
  }

  &-yes-label {
    margin-right: 2em;
    font-size: 1.1em;
  }

  &-p {
    margin-bottom: 1em;
    font-size: 1.1em;
  }
}

.form-submit {
  font-family: $text-font-family;
  font-size: 1.2em;
  align-self: center;
  width: 60%;
  margin-top: 2em;
  background-color: $button-background-color;
  color: $button-text-color;
  padding: .8em;
  border-radius: 10px;
}

.notation {
  margin-top: 1em;
}


// Gestion isLocataire / isVisiteur 

.locataire-form-hidden {
  display: none;
}

.commentaires-hidden {
  display: none;
}

.form-submit-hidden {
  display: none;
}

@media (min-width: 768px) {

  .notation-form {
    width: 60%;
  }
}

@media (min-width: 1200px) {

  .notation-form {
    width: 40%;
  }

  .address-input {
    display: block;
    margin: 3em 0;
  
    & input {
      display: block;
      width: 70%;
      margin: 0 auto;
      padding: .8em 1.2em;
      border: none;
      border-radius: 5px;
      font-size: 1em;
    }
  }

  .information-generales div {
    margin: 1em 0;
  }
}
