<form method="post" action="{{ path('admin_apartment_delete', {'id': apartment.id}) }}" onsubmit="return confirm('Veuillez confirmer la suppression');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apartment.id) }}">
    <button class="btn">Delete</button>
</form>