@import 'src/styles/_vars.scss';

.legal-mention {
  text-align: center;
  width: 70%;
  margin: 0 auto;

  h2 {
    font-family: $title-font-family;
    font-size: 3em;
    margin: 1em 0;
  }

  h3 {
    font-family: $title-font-family;
    font-size: 2em;
  }

  p {
    font-family: $text-font-family;
    line-height: 1.5;
    margin: 1em 0;
  }
}
