@import 'src/styles/_vars.scss';

.modalContainer {
  width: 90%;
  position: absolute;
  border: none;
  border-radius: 25px;
  background-color: #EFF1F3;
  padding: 1em;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  .modalContainer {
    width: 30%;
  }
}

.connect-title {
  color: $button-background-color;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

.connect-form {
  display: flex;
  flex-direction: column;  

  &-email {
    color: #223843;
    font-size: 1.5em;
    font-family: $title-font-family;
    margin-bottom: 1em;

    &-input {
      font-family: $text-font-family;
      padding-left: 1em;
      margin-bottom: 3em;
      height: 50px;
      border: none;
      border-radius: $button-border-radius;
    }
  }

  &-password {
    color: #223843;
    font-size: 1.5em;
    font-family: $title-font-family;
    margin-bottom: 1em;

    &-input {
      font-family: $text-font-family;
      padding-left: 1em;
      margin-bottom: 3em;
      height: 50px;
      border: none;
      border-radius: $button-border-radius;
    }
  }

  &-button {
    font-size: 1em;
    align-self: center;
    text-align: center;
    font-family: $text-font-family;
    border: none;
    border-radius: $button-border-radius;
    background-color: $button-background-color;
    color: $button-text-color;
    width: 15em;
    height: 3em;
  }

  &-button:hover {
    transform: scale(1.01)
  }

  &-register {
    margin: 2em 0 1em 0;
    font-family: $text-font-family;
    color: #223843;
    text-align: center;

    &-button {
      padding-top: 1em;
      margin-top: 1em;
      font-size: 1em;
      align-self: center;
      text-align: center;
      font-family: $text-font-family;
      border: none;
      border-radius: $button-border-radius;
      background-color: $button-background-color;
      color: $button-text-color;
      width: 15em;
      height: 3em;
    }
    &-button:hover {
      transform: scale(1.01)
    }
  }
}
