@import 'src/styles/_vars.scss';

.connect-title {
  color: $button-text-color;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

.connect-form {
  display: flex;
  flex-direction: column;  

  &-email {
    color: $button-text-color;
    font-size: 1.5em;
    font-family: $title-font-family;
    margin-bottom: 1em;

    &-input {
      font-family: $text-font-family;
      padding-left: 1em;
      margin-bottom: 3em;
      height: 50px;
      border: none;
      border-radius: $button-border-radius;
    }
  }

  &-password {
    color: $button-text-color;
    font-size: 1.5em;
    font-family: $title-font-family;
    margin-bottom: 1em;

    &-input {
      font-family: $text-font-family;
      padding-left: 1em;
      margin-bottom: 5em;
      height: 50px;
      border: none;
      border-radius: $button-border-radius;
    }
  }

  &-button {
    font-size: 1em;
    align-self: center;
    text-align: center;
    font-family: $text-font-family;
    border: none;
    border-radius: $button-border-radius;
    background-color: $button-background-color;
    color: $button-text-color;
    width: 15em;
    height: 3em;
  }

  &-button:hover {
    transform: scale(1.01)
  }

  &-register {
    margin-top: 2em;
    font-family: $text-font-family;
    color: #fff;
    text-align: center;

    &-button {
      padding-top: 1em;
      margin-top: 1em;
      font-size: 1em;
      align-self: center;
      text-align: center;
      font-family: $text-font-family;
      border: none;
      border-radius: $button-border-radius;
      background-color: $button-background-color;
      color: $button-text-color;
      width: 15em;
      height: 3em;
    }
    &-button:hover {
      transform: scale(1.01)
    }
  }
}
