@import 'src/styles/_vars.scss';

.infobox {
  padding: 0;

  &-title {
    background-color: $button-background-color;
    color: #fff;
    font-family: $title-font-family;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  &-address{
    font-family: $text-font-family;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  &-rent {
    font-family: $text-font-family;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  &-rating {
    font-family: $text-font-family;
    font-size: 1.1em;
    margin-bottom: .5em;
  }

  &-seemore {
    margin-top: 1em;
    font-size: 1.3em;
    color: $button-background-color;
    text-align: center;
  }

}
