@import 'src/styles/_vars.scss';

// Google map should not display before 992px;
.google-maps {
  display: none;
}

.map-element {
  height: 85vh;
}

.research-map {
  flex-grow: 2;
}

.autocomplete {
  margin-top: 3em;
  padding: 1em 2em;
  text-align: center;

  &-title {
    font-family: $title-font-family;
    font-size: 1.7em;
    margin-bottom: 1.5em;
  }
}

.location-search-input {
  margin-bottom: 1.5em;
  border: none;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  font-size: 1em;

  &::placeholder {
    font-family: $text-font-family;
  }
}

.dropdown-title-false {
  display: none;
}

.dropdown-title-true {
  margin-bottom: 1.5em;
}

// map Full screen

.research-map-fullscreen {
  flex-grow: 2;
}

.autocomplete-hidden {
  position: absolute;
  z-index: 10;
  margin: 1.5em;
}

.autocomplete-title-fullscreen {
  display: none;
}

.location-search-input-fullscreen {
  padding: .5em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.google-maps-fullscreen {
  height: 85vh;
  width: 100%;
  transition: .3s ease;
}

.autocomplete-dropdown-container-fullscreen {
  width: 50%;
  margin: 1em 0 0;
}

.autocomplete-dropdown-container-fullscreen > .dropdown-title-true {
  display: none;
}

.autocomplete-dropdown-container-fullscreen + div {
  margin: .5em;
  border-radius: 5px;
}



@media (min-width: 576px) {

  .location-search-input {
    width: 80%;
  }

}

@media (min-width: 992px) {
  
  // map middle screen
  .map-element {
    height: 80vh;
  }
  

  .research-map {
    display: flex;
    justify-content: space-between;
  }

  .google-maps {
    display: block;
    width: 60%;
  }

  .autocomplete {
    width: 40%;
    text-align: center;
    margin-top: 6em;

    &-title {
      font-family: $title-font-family;
      font-size: 1.7em;
      margin-bottom: 1.5em;
    }
  }

  .location-search-input {
    width: 100%;
  }

  // map full screen

  .research-fullscreen {
    width: 100%;
  }
  
  .autocomplete-hidden {
    position: absolute;
    z-index: 10;
    margin: 3em;
    width: 30%;
  }
  
  .autocomplete-title-fullscreen {
    display: none;
  }
  
  .location-search-input-fullscreen {
    width: 100%;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
  }
  
  .google-maps-fullscreen {
    height: 80vh;
    width: 100%;
    transition: none;
  }
  
  .autocomplete-dropdown-container-fullscreen {
    width: 100%;
    margin: 1em 0 0;
  }
  
  .autocomplete-dropdown-container-fullscreen > .dropdown-title-true {
    display: none;
  }
  
  .autocomplete-dropdown-container-fullscreen + div {
    margin: .5em;
    border-radius: 5px;
  }

}

@media (min-width: 1200px) {

  .location-search-input {
    width: 80%;
  }

  .map-element {
    height: 80vh;
  }

}

@media (min-width: 2048px) {
  .map-element {
    height: 85.1vh;
  }
}
