@import 'src/styles/_vars.scss';

.review {
  border: 1px solid $header-background-color;
  box-sizing: border-box;

  &-img {
    height: 10em;
    background-color: $header-background-color;
    background-color: #d77a61;
  }
  
  &-content {
    padding: .5em;
  }

  &-address {
    margin: 1.5em 0;
    text-align: center;
    font-family: $title-font-family;
    font-size: 1.2em;
  }

  &-description {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
  }
}

.review:hover {
  box-shadow: 0px 0px 5px 1px rgba(34,56,67,.7);
  transition: box-shadow .2s;
}
