@import 'src/styles/_vars.scss';


.homePhoto {
  background-image: url(../../img/accueilbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em 0;
}

.presentation {
  text-align: center;
  padding-bottom: 3em;

  &-title {
    font-family: $title-font-family;
    padding-bottom: 1em;
    font-size: 4em;
    color: $header-text-color;
    text-shadow: 1px 1px 1px black;
  }

  &-subtitle {
    color: $header-text-color;
    font-size: 2em;
    font-family: $text-font-family;
    text-shadow: 1px 1px 1px black;
  }
}

.recherche {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, .6);
  border-radius: $button-border-radius;
  padding: 2em 0;
  text-align: center;

  &-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
  }

  &-form {
    margin-bottom: 3em;
  }

  &-submit {
    font-size: 1.1em;
    padding: .5em .8em;
    border: none;
    border-radius: $button-border-radius;
    color: $header-text-color;
    background-color: $button-background-color;
    font-family: $text-font-family;
  }

  &-input {
    display: block;
    font-size: 1em;
    padding: 1em 1em;
    margin: 1em auto;
    width: 90%;
    border: none;
    border-radius: $button-border-radius;

  }

  &-input::placeholder {
    font-family: $text-font-family;
  }
}

.noter {
  &-title {
    font-family: $title-font-family;
    font-size: 2em;
    margin-bottom: 1em;
  }

  &-button {
    font-size: 1.1em;
    padding: .7em .9em;
    border: none;
    border-radius: $button-border-radius;
    color: $header-text-color;
    background-color: $button-background-color;
    font-family: $text-font-family;
  }
}

.section {
  margin: 1.5em auto;
  width: 50%;

  &-title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
    font-family: $title-font-family;
    color: $header-background-color;
  }
}

.review {
  margin-bottom: 3em;
}

.loader {
  display: flex;
  justify-content: center;
}

.lastFiveApartments-error {
  text-align: center;
  color: $button-background-color;
}

@media (min-width: 768px) {

  .recherche {
    width: 70%;

    &-input, &-submit, .noter-button {
      font-size: 1.2em;
    }
  }

  .section {
    margin: 3em auto;
    width: 40%;
  }
  
  .review {
    margin-bottom: 3em;
  }

}

@media (min-width: 992px) {
  .homePhoto {
    background-image: url(../../img/accueilbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
  }
  
  .presentation {
    text-align: center;
    padding: 0;
  
    &-title {
      font-family: $title-font-family;
      font-size: 4em;
      color: $header-text-color;
      text-shadow: 1px 1px 1px black;
      padding: 1em 0;
    }
  
    &-subtitle {
      color: $header-text-color;
      font-size: 2em;
      font-family: $text-font-family;
      text-shadow: 1px 1px 1px black;
      margin-bottom: 2em;
    }
  }
  
  .recherche {
    width: 70%;
    margin: auto;
    background: rgba(255, 255, 255, .6);
    border-radius: $button-border-radius;
    padding: 4em 2em;
    text-align: center;
  
    &-title {
      font-family: $title-font-family;
      font-size: 3em;
    }
  
    &-form {
      display: flex;
      justify-content: space-around;
      margin-bottom: 3em;    
    }

    &-input {
      display: block;
      width: 70%;
      margin: 0;
      padding: 1.2em 1.8em;
      font-size: 1.2em;
    }
  
    &-submit {
      display: block;
      font-size: 1.2em;
    }
  
    &-input::placeholder {
      font-family: $text-font-family;
    }
  }
  
  .noter {
    &-title {
      font-family: $title-font-family;
      font-size: 2em;
      margin-bottom: 1em;
    }
  
    &-button {
      font-size: 1.3em;
      margin-left: 1em;
      padding: 1em;
      border: none;
      border-radius: 20px;
      color: $header-text-color;
      background-color: $button-background-color;
      font-family: $text-font-family;
    }
  }
}

@media (min-width: 1200px) {

  .section {
    margin: 3em auto;
    width: 30%;
    
    &-title {
      font-size: 2em;
    }
  }

}

