.cards {
  display: flex;
  justify-content: center; 
}

.card-johann {
  background-image: url(../../img/johann.jpg);
}

.card-maxime {
  background-image: url(../../img/maxime.png)
}

.card-camille {
  background-image: url(../../img/camille.png)
}

.card-alex {
  background-image: url(../../img/alex.jpg)
}

