.cards {
  display: flex;
  justify-content: center; 
}

.card-johann {
  background-image: url('/src/img/johann.jpg')
}

.card-maxime {
  background-image: url('/src/img/maxime.png')
}

.card-camille {
  background-image: url('/src/img/camille.png')
}

.card-alex {
  background-image: url('/src/img/alex.jpg')
}

