// Variables style button

$button-background-color: #D33F49;
$button-text-color: #EFF1F3;
$button-border-radius: 25px;

// Variables style Header/Footer

$header-background-color: #223843;
$header-text-color: #EFF1F3;

// Typographie

$title-font-family: 'Oswald', sans-serif;
$text-font-family: 'Montserrat', sans-serif;
