@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  background-color: #EFF1F3;
  height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
