@import 'src/styles/_vars.scss';

.photo {
  background-image: url(../../img/register.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -10em;
  padding-top: 2em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 50%;
  max-height: 95vh;
  margin: 0 auto;
  background: rgba(239, 241, 243, .9);
  padding: 2em;
  margin-bottom: 5em;

  &-form {
    
    &-title {
      font-family: $title-font-family;
      color: black;
      text-shadow: 1px 1px 1px $header-text-color;
      padding-top: 0;
      padding-bottom: 1em; 
      font-size: 3em;
      text-align: center;
    }

    &-fields{
      display: flex;
      flex-direction: column;

      label{
        font-family: $title-font-family;
        margin-bottom: 1em;
      }

      input {
        height: 5em;
        padding-left: 1em; 
        margin-bottom: 2em;
        border: none;
        border-radius: $button-border-radius;
      }

      input::placeholder {
        font-family: $text-font-family;
      }
    }

    &-cgu {
      text-align: center;

      label {
        font-family: $text-font-family;
      }

      input {
        margin-right: 1em;
      }
    }

    &-button {
      text-align: center;
      padding: 2em;

      button {
        background-color: $button-background-color;
        color: $button-text-color;
        border: none;
        border-radius: $button-border-radius;
        font-family: $text-font-family;
        height: 5em;
        width: 15em;
      }

      button:hover {
        transform: scale(1.01)
      }
    }
  }
}
