@import 'src/styles/_vars.scss';

.photo {
  background-image: url(../../img/register.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 2em;
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 80%;
  background: rgba(239, 241, 243, 1);
  border-radius: $button-border-radius;
  padding: 1em;

  &-form {
    
    &-title {
      font-family: $title-font-family;
      color: $header-background-color;
      margin-bottom: .5em; 
      font-size: 1.5em;
      text-align: center;
    }

    &-fields{
      display: flex;
      flex-direction: column;

      label{
        color: $header-background-color;
        font-family: $title-font-family;
        margin-bottom: .5em;
      }

      input {
        padding: .8em 1em;
        margin-bottom: 1.5em;
        border: none;
        border-radius: 10px;
        font-size: 1em;
      }

      input::placeholder {
        font-family: $text-font-family;
      }
    }

    &-cgu {
      text-align: center;

      label {
        font-family: $text-font-family;
      }

      input {
        margin-right: 1em;
      }
    }

    &-button {
      text-align: center;
      padding: 1em;

      button {
        background-color: $button-background-color;
        color: $button-text-color;
        border: none;
        border-radius: 10px;
        font-family: $text-font-family;
        padding: 1.3em 1.8em;
      }

      button:hover {
        transform: scale(1.01)
      }
    }
  }
}

@media (min-width: 768px) {

  .register {
    width: 60%;

    &-form {

      &-title {
        margin-bottom: 1em; 
      }

      &-fields {
        label {
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media (min-width: 992px) {


  .register {
    width: 40%;
    padding: 1.5em 0;

    &-form-fields {
      width: 80%;
      margin: 0 auto;
    }
  }
}





