{% extends 'base.html.twig' %}

{% block title %}Changement de roles{% endblock %}

{% block body %}
    <h1>Changement de roles</h1>

    <div class="roles">
    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <h3 class="my-5">
            <a href="{{ path('admin_user_index') }}"> Revenir à la liste</a>
        </h3>
    
{% endblock %}